<h1>All posts</h1>

<%= link_to "Submit Post", new_post_path %>

<% @posts.each do |post| %>
	<h2><%= post.title %></h2>
	<div><%= truncate(post.body, :lenght => 150) %></div>
	<br>
	<%= link_to 'Read post', post %>
<% end %>